@font-face {
  font-family: "iconfont"; /* Project id 4469694 */
  src: url('iconfont.svg?t=1710601018386#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-youxiang:before {
  content: "\e649";
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e615";
}

